<!DOCTYPE html>
<html lang="en" xmlns:th"http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body >
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastName}"></li>
        <li th:if="${user.email == null}" th:text="${'no tiene email'}"></li>
    </ul>


    <table th:if="${not #lists.isEmpty(users)}">
        <thead>
            <tr>
                <th>Name</th>
                <th>lastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:if="${user.email == null}" th:text="'----'"></td>
            </tr>
        </tbody>
        <a th:href="@{/list}">Ver listado</a>

        <a th:href="@{'/api/var/foo?message' + ${title}}">Ver mensaje</a>
    </body>
</html>